{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block page_title %} {{ page_title }} {% endblock %}
{% block content %}
    {% comment %} <h1 class="text-2xl font-bold mb-4">{% trans "Welcome to the system" %}</h1>
    <p>{% trans "Use the menu above to navigate through the system." %}</p> {% endcomment %}


{% comment %} <!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8" />
    <title>{% trans "Home" %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            direction: inherit;
            text-align: start;
        }

        form {
            margin-top: 20px;
        }

        select, button {
            padding: 5px;
            font-size: 1rem;
        }

        {% if LANGUAGE_CODE == 'ar' %}
        body {
            text-align: right;
        }
        {% endif %}
    </style>
</head>
<body> {% endcomment %}
    <h1>{{ greeting }}</h1>

    <p>{% trans "Choose your language:" %}</p>

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language">
            <option value="en" {% if LANGUAGE_CODE == "en" %}selected{% endif %}>English</option>
            <option value="ar" {% if LANGUAGE_CODE == "ar" %}selected{% endif %}>العربية</option>
            <option value="de" {% if LANGUAGE_CODE == "de" %}selected{% endif %}>Deutsch</option>
            <option value="nl" {% if LANGUAGE_CODE == "nl" %}selected{% endif %}>Nederlands</option>
        </select>
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit">{% trans "Change language" %}</button>
    </form>

{% endblock %}